.forgotPage {
	background: #f3f4ff;
	text-align: center;
	font-family: 'Arial';
}

.outer {
	height: 700px;
	width: 550px;
	background: #4d44b5;
	box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
	border-radius: 90px;
	margin: auto;
}

.outer .title {
	padding: 50px 0px;
	font-weight: 700;
	font-size: 55px;
	line-height: 50px;
	color: #ffffff;
	letter-spacing: -0.05em;
}

.input {
	background: rgba(255, 255, 255, 0.75);
	border-radius: 90px;
	width: 450px;
	height: 60px;
	border: none;
	font-weight: 500;
	font-size: 25px;
	line-height: 18px;
	margin: 0;
	padding: 0px 20px;
}

::placeholder {
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	padding-right: 40px;
	letter-spacing: -0.05em;
	color: rgba(90, 48, 146, 0.5);
}

.under {
	display: flex;
	margin: 80px 0px;
	justify-content: center;
}

.under .block {
	flex: 1;
}

.under .left {
	font-weight: 500;
	font-size: 19px;
	line-height: 30px;
	text-align: right;
	letter-spacing: -0.05em;
	color: #ffffff;
}

.under .left a {
	text-decoration: none;
	font-weight: 1000;
	color: #ffffff;
}

.btnContinue {
	background: #bf7b5d;
	border-radius: 90px;
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	letter-spacing: -0.05em;
	color: #5a3092;
	border: none;
	padding: 5px 20px;
	margin: 10px;
}

.message {
	font-weight: 500;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: -0.05em;
	color: #ffffff;
}

.alert {
	color: red;
	text-align: left;
	padding-left: 40px;
	margin-top: 10px;
}

.inputGroup {
	margin: 50px 0px;
	position: relative;
}

.icon {
	font-size: 30px;
	right: 50px;
	top: 15px;
	position: absolute;
}

.btnContinue:hover {
	background: #d18d6f;
}