.background {
  height: 700px;
  background: rgba(217, 217, 217, 0.95);
}

.background .photo {
  width: 150px;
  height: 150px;
  background: #c1bbeb;
  border-radius: 50%;
  border: 8px solid #ffffff;
  margin: 40px 20px;
}

.flex-input {
  display: flex;
}

label {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #303972;
  display: block;
  margin: 20px 0px 10px 0px;
}

.inputView {
  box-sizing: border-box;
  height: 40px;
  width: 500px;
  background: rgba(255, 255, 255, 0.53);
  border: 1px solid #c1bbeb;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

.column {
  margin: 0px 30px;
}

.groupButton .btnSave {
  background: rgba(217, 217, 217, 0.95);
  border: #4d44b5 2px solid;
  float: left;
  color: #4d44b5;
  font-size: 18px;
  font-weight: 400;
  width: 120px;
  height: 60px;
  border-radius: 40px;
}

.groupButton .btnClose {
  background: #4d44b5;
  border: none;
  font-size: 18px;
  font-weight: 400;
  width: 120px;
  height: 60px;
  border-radius: 40px;
}

.groupButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.groupButton :hover {
  background-color: #fb7d5b;
}
.labelRole {
  display: inline;
}

.inputRole {
  width: auto;
}

.message {
  color: red;
  font-size: 30px;
  margin-left: 450px;
}
